---
id: 'about-me'
layout: page
title: About me
permalink: /about-me/
show_in_header: ''
---

<div class="about">

  <div class="card border-none transparent">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img class="rounded-circle img-fluid" width="200px" src="/img/mauroservienti.jpg" alt="Avatar">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">About Mauro.</h5>
          <p class="card-text">{% include bio-intro.txt %}</p>
            <p class="card-text">{% include bio-extension.txt %}</p>

            <p class="card-text">Get in touch:
              <ul>
                <li>Twitter: <a href="https://twitter.com/mauroservienti"
                    target="_blank">https://twitter.com/mauroservienti</a></li>
                <li>GitHub: <a href="https://github.com/mauroservienti"
                    target="_blank">https://github.com/mauroservienti</a>
                </li>
                <li>Typeform: <a href="https://mauroservienti.typeform.com/to/luuJPw"
                    target="_blank">https://mauroservienti.typeform.com/to/luuJPw</a></li>                
                <li>Italian Blog: <a href="http://blogs.ugidotnet.org/topics"
                    target="_blank">http://blogs.ugidotnet.org/topics</a></li>
                <li>English Blog: <a href="https://milestone.topics.it" target="_blank">https://milestone.topics.it</a>
                </li>
                <li>Keybase.io: <a href="https://keybase.io/mauroservienti"
                    target="_blank">https://keybase.io/mauroservienti</a></li>
              </ul>
            </p>

            <p class="card-text">Interested in events where I'll be speaking or in having me speaking at your event?
              take a look at <a href="/events/">my speaking schedule</a>, <a href="/archive/events/">events archive</a>,
              and <a href="/talks/">ready to go talks</a>. Or <a
                href="https://mauroservienti.typeform.com/to/luuJPw">get in
                touch</a> to arrange something.</p>

        </div>
      </div>
    </div>
  </div>

</div>
