---
layout: default
title: Archive
permalink: /all/
---

<div class="home-content">

  <h1 class="page-heading">Posts</h1>

  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
        <h3 id="y{{post.date | date: "%B %Y"}}">{{ currentdate }}</h3>
        <ul class="post-list">
          {% assign date = currentdate %}
    {% endif %}
      <li>
        <a class="muted-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% if forloop.last %}
    </ul>
    {% endif %}
  {% endfor %}

</div>
