---
layout: default
permalink: /events/archive/
title: Events archive
---

<div class="home-content">
  {% assign archived = site.events | sort: 'calendar.start' | where: 'status', 'done' | reverse %}

  <h3 class="page-heading">Events archive</h3>
  <ul>
  {% for event in archived %}
  <div class="panel panel-default">
      <div class="panel-body">
        <div class="event-details">
          <img class="event-details-icon" src="/img/calendar.png" />
          <span class="event-date">
            {% if event.calendar.display %}
              {{ event.calendar.display }}
            {% else %}
              {% if event.calendar.start contains "T" %}
                {{ event.calendar.start | date_to_rfc822 | date: "%-d %B %Y, %H:%M" }}
              {% else %}
                {{ event.calendar.start | date_to_rfc822 | date: "%-d %B %Y" }}
              {% endif %}
            {% endif %}  
          </span>
          <img class="event-details-icon" src="/img/location.png" />
          <span class="event-location">{{ event.location }}</span>
          <img class="event-details-icon" src="/img/language.png" />
          <span class="event-language">{{ event.language }}</span>
        </div>
        <h3>
          <a class="muted-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
        </h3>
      </div>          
    </div>
  {% endfor %}
  </ul>
  
</div>