---
layout: default
permalink: /events/archive/
title: Events archive
---

<div class="home-content">
  {% assign archived = site.events | sort: 'date' | where: 'status', 'done' | reverse %}
  <h2 class="page-heading">Events archive</h2>
  <ul>
  {% for event in archived %}
  <li>
  {{ event.title }}, {{ event.url | prepend: site.baseurl }}
  </li>
  {% endfor %}
  </ul>
  
</div>


<!--  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-tabs tabs-left" role="tablist">
        {% for yeargroup in site.data.talks %}
        <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
          <a href="#y{{ yeargroup.year }}" aria-controls="{{ yeargroup.year }}" role="tab" data-toggle="tab">{{ yeargroup.year }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-10">
      <div class="tab-content">
        {% for yeargroup in site.data.talks %}
        <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="y{{ yeargroup.year }}">
          <ul class="talks-list">
            {% for talk in yeargroup.talks %}      
            <li>
              <h4 class="talk-host">
                {% if talk.url and talk.url != "" %}
                <a href="{{ talk.url }}" target="_blank" class="muted-link">
                {% endif %}
                {{ talk.host }}
                {% if talk.url and talk.url != "" %}
                  <img src="/img/link.png" border="0" class="link-icon" />
                </a>
                {% endif %}
              </h4>
              <div class="talk-details">
                <img class="talk-details-icon" src="/img/calendar.png" />
                <span class="talk-date">{{ talk.date }}</span>
                <img class="talk-details-icon" src="/img/location.png" />
                <span class="talk-location">{{ talk.location }}</span>
                <img class="talk-details-icon" src="/img/language.png" />
                <span class="talk-language">{{ talk.language }}</span>
              </div>
              <ul class="sessions-list">
                {% for session in talk.sessions %}
                <li>
                  {% if session.url and session.url != "" %}
                  <a href="{{ session.url }}" target="_blank" class="muted-link">
                  {% endif %}
                    <span class="session-title">{{ session.title }}</span>
                    {% if session.url and session.url != "" %}
                    <img src="/img/link.png" border="0" class="link-icon" />
                  </a>
                  {% endif %}

                  <div class="session-abstract">{{ session.abstract }}</div>
                  <div class="session-resources">
                    {% if session.slides and session.slides != "" %}
                    <a href="{{ session.slides }}" target="_blank" class="muted-link">
                      <img class="session-slides-icon" border=0 src="/img/presentation.png" />
                      <span class="session-slides">Slides</span>
                    </a>
                    {% endif %}
                    {% if session.demos and session.demos != "" %}
                    <a href="{{ session.demos }}" target="_blank" class="muted-link">
                      <img class="session-demos-icon" border=0 src="/img/folder.png" />
                      <span class="session-demos">Demos</span>
                    </a>
                    {% endif %}
                    {% if session.recording and session.recording != "" %}
                    <a href="{{ session.recording }}" target="_blank" class="muted-link">
                      <img class="session-recording-icon" border=0 src="/img/recording.png" />
                      <span class="session-recording">Recording</span>
                    </a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
              <hr />
            </li>
            {% endfor %}
          </ul>    
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
-->