---
layout: page
id: 'archived-events'
permalink: /archive/events/
title: Events archive
---

<div class="events-archive">
  {% assign archived = site.events | where: 'status', 'done' | sort: 'calendar.start' | reverse %}

  <h2 class="page-heading">Events archive</h2>
  <hr />

  {% for event in archived %}
    {% assign currentyear = event.calendar.start | date: "%Y" %}
    {% if currentyear != year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 id="y{{ currentyear }}">{{ currentyear }}</h3>
      <ul class="events-list">
      {% assign year = currentyear %}
    {% endif %}
    <li class="mb-2">
      <a class="muted-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
      <span class="event-meta ms-1">
        —
        {% if event.calendar.display %}
          {{ event.calendar.display }}
        {% else %}
          {% if event.calendar.start contains "T" %}
            {{ event.calendar.start | date_to_rfc822 | date: "%B %-d, %Y" }}
          {% else %}
            {{ event.calendar.start | date_to_rfc822 | date: "%B %-d, %Y" }}
          {% endif %}
        {% endif %}
        · {{ event.location }}
        · {{ event.language }}
      </span>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

</div>
