---
layout: page
id: 'home'
---

<div class="home">

  <div class="card mb-3">
    {% assign first = site.posts[0] %}
    {% if first.header_image %}
    <img class="img-fluid card-img-top alt=" {{ first.title }} header image"
      src="{{ first.header_image | prepend: site.baseurl }}" />
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">
        <a class="muted-link" href="{{ first.url | prepend: site.baseurl }}">{{ first.title }}</a>
      </h2>
      <hr class="h-splitter" />
      <p class="card-text">
        {% if first.synopsis %}{{ first.synopsis }}{% else %}{{ first.excerpt }}{% endif %}
      </p>
      <p class="card-text">
        <small class="text-muted">
          <a class="card-link" href="{{ first.url | prepend: site.baseurl }}">Continue reading...</a>
        </small>
      </p>
    </div>
  </div>

  {% assign upcomingevents = site.events | where: 'status', 'upcoming' | sort: 'calendar.start' %}
  {% assign len = upcomingevents | size %}
  {% if len > 0 %}
  {% assign upcomingevent = upcomingevents[0] %}
  <div class="card border-none mb-3 upcoming-event">
                                                   <div class="card-header">
                                                                           
                                                                           <span>Upcoming event • <span class="upcoming-event-date">
              {% if upcomingevent.calendar.display %}
              {{ upcomingevent.calendar.display }}
              {% else %}
              {% if upcomingevent.calendar.start contains "T" %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y, %H:%M" }}
              {% else %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y" }}
              {% endif %}
              {% endif %}
            </span>
          </span>
                                                                           
                                                                           </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="img/speak.jpg" class="img-fluid rounded" alt="Speaker">
      </div>
      <div class="col-md-10 upcoming-event-details">
        
          
          <p>I'll be at <a class="upcoming-event-title"
              href="{{ upcomingevent.url | prepend: site.baseurl }}">{{ upcomingevent.title }}</a>, <span
              class="upcoming-event-location">{{ upcomingevent.location }}</span>. We'll talk about:
            <ul class="upcoming-event-sessions-list">
              {% for session in upcomingevent.sessions %}
              <li>
                <span class="session-title">{{ session.title }}</span>
              </li>
              {% endfor %}
            </ul>
          </p>
          <p>
            <small class="text-muted">
              <a href="{{ site.baseurl }}events/">More events...</a>
            </small>
          </p>
        
      </div>
    </div>
  </div>
  </div>
  {% endif %}

  <div class="card-columns">
    {% for post in site.posts limit:6 offset:1 %}
    <div class="card">
      <div class="card-header">
         <div class="post-details">
            <img class="post-details-icon" src="/img/calendar.png" />
            <span class="post-date">
              {{ post.date | date_to_rfc822 | date: "%-d %B %Y" }}
            </span>
         </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a class="muted-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <hr class="h-splitter" />
        <p class="card-text">
          {% if post.synopsis %}{{ post.synopsis }}{% else %}{{ post.excerpt }}{% endif %}
        </p>
        <p class="card-text">
          <small class="text-muted">
            <a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>
          </small>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
