---
layout: page
id: 'home'
---

<div class="home">

  <div class="card mb-3">
    {% assign first = site.posts[0] %}
    {% if first.header_image %}
    <picture>
      <source srcset="{{ first.header_image | replace: '.jpg', '.webp' | replace: '.png', '.webp' | prepend: site.baseurl }}" type="image/webp">
      <img class="img-fluid card-img-top" width="1200" height="630" alt="{{ first.title }} header image"
        src="{{ first.header_image | prepend: site.baseurl }}" />
    </picture>
    {% endif %}
    <div class="card-body">
      <p class="card-text first-post-details">
        <small class="first-post-date">
              {{ first.date | date_to_rfc822 | date: "%B %-d, %Y" }}
          
        </small>
      </p>
      <h2 class="card-title">
        <a class="muted-link" href="{{ first.url | prepend: site.baseurl }}">{{ first.title }}</a>
      </h2>
      <hr class="h-splitter" />
      <p class="card-text">
        {% if first.synopsis %}{{ first.synopsis }}{% else %}{{ first.excerpt }}{% endif %}
      </p>
      <p class="card-text">
        <small class="text-muted">
          <a class="card-link" href="{{ first.url | prepend: site.baseurl }}" aria-label="Continue reading: {{ first.title }}">Continue reading...</a>
        </small>
      </p>
    </div>
  </div>

  {% assign upcomingevents = site.events | where: 'status', 'upcoming' | sort: 'calendar.start' %}
  {% assign len = upcomingevents | size %}
  {% if len > 0 %}
  {% assign upcomingevent = upcomingevents[0] %}
  <div class="card border-none mb-3 upcoming-event">
    <div class="card-header">
       <span>Upcoming event • <span class="upcoming-event-date">
              {% if upcomingevent.calendar.display %}
              {{ upcomingevent.calendar.display }}
              {% else %}
              {% if upcomingevent.calendar.start contains "T" %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%B %-d, %Y - %H:%M" }}
              {% else %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%B %-d, %Y" }}
              {% endif %}
              {% endif %}
            </span>
          </span>
                                                                           
  </div>
  <div class="card-body">
    <div class="row">
      <div class="d-none d-sm-none d-md-block col-md-2">
        <picture>
          <source srcset="img/speak.webp" type="image/webp">
          <img src="img/speak.jpg" class="img-fluid rounded" width="150" height="150" alt="Speaker">
        </picture>
      </div>
      <div class="col-12 col-sm-12 col-md-10 upcoming-event-details">
          <p>I'll be at <a class="upcoming-event-title"
              href="{{ upcomingevent.url | prepend: site.baseurl }}">{{ upcomingevent.title }}</a>, <span
              class="upcoming-event-location">{{ upcomingevent.location }}</span>. We'll talk about:
            <ul class="upcoming-event-sessions-list">
              {% for session in upcomingevent.sessions %}
              <li>
                <span class="session-title">{{ session.title }}</span>
              </li>
              {% endfor %}
            </ul>
          </p>
          <p>
            <small class="text-muted">
              <a href="{{ site.baseurl }}events/">More events...</a>
            </small>
          </p>
        
      </div>
    </div>
  </div>
  </div>
  {% endif %}

  <div class="row" data-masonry='{"percentPosition": true}'>
    {% for post in site.posts limit:9 offset:1 %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">
           <div class="post-details">
              <span class="post-date">
                {{ post.date | date_to_rfc822 | date: "%B %-d, %Y" }}
              </span>
           </div>
        </div>
        <div class="card-body">
          <h2 class="card-title">
            <a class="muted-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <hr class="h-splitter" />
          <p class="card-text">
            {% if post.synopsis %}{{ post.synopsis }}{% else %}{{ post.excerpt }}{% endif %}
          </p>
          <p class="card-text">
            <small class="text-muted">
              <a href="{{ post.url | prepend: site.baseurl }}" aria-label="Continue reading: {{ post.title }}">Continue reading...</a>
            </small>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
