---
layout: page
title: Talks
permalink: /talks/
show_in_header: ''
---

<div class="talks">
  <h2 class="page-heading">Get Mauro speaking at your event.</h2>
  <p>Here is the list of talks ready to be delivered. <a href="https://mauroservienti.typeform.com/to/luuJPw">Get in
      touch</a> to arrange details.</p>

  <div class="talks-list">

    <div class="row" data-masonry='{"percentPosition": true}'>
      {% for talk in site.talks %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          {% if talk.header_image %}
          <picture>
            <source srcset="{{ talk.header_image | replace: '.jpg', '.webp' | replace: '.png', '.webp' | prepend: site.baseurl }}" type="image/webp">
            <img class="img-fluid card-img-top" width="1200" height="630" alt="{{ talk.title }} header image" src="{{ talk.header_image | prepend: site.baseurl }}" loading="lazy" />
          </picture>
          {% endif %}
          <div class="card-body">
            <h3 class="card-title">
              <a class="muted-link" href="{{ talk.url | prepend: site.baseurl }}">{{ talk.title }}</a>
            </h3>
            <hr class="h-splitter" />
            <p class="card-text talk-synopsis">{{ talk.synopsis }}</p>
            <p class="card-text">
              <small class="text-muted">
                <a href="{{ talk.url | prepend: site.baseurl }}" aria-label="More information about: {{ talk.title }}">More information...</a>
              </small>
            </p>
            <hr class="h-splitter" />
            <p class="card-text talk-languages">Available in:
              {% for lang in talk.languages %}
              <span> {{ lang }}{% unless forloop.last %} |{% endunless %}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>