<header class="site-header">

  <nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" height="25px" width="25px" alt="topics.it logo" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
          </li>
        {% for page in site.pages %}
          {% if page.title and page.show_in_header %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="navbar-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
        </li>
        <li>
            <a class="navbar-link" href="{{ "/talks.xml" | prepend: site.baseurl }}">Talks feed</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
