<section class="sidebar">

    {% if page.id != 'about-me' %}
    <div class="sidebar-widget sidebar-bio">
        <p class="p-3">
            <small>{% include bio-intro.txt %}</small>
            <footer class="blockquote-footer">
                <a class="muted-link inherit-color" title="About me..." href="{{ '/about-me/' | prepend: site.baseurl }}">
                    <cite title="Who I am.">Who I am.</cite> Mauro Servienti</a>
            </footer>
        </p>
    </div>
    {% endif %}

    {% if page.id != 'home' and page.id != 'upcoming-events' %}
    {% assign upcomingevents = site.events | where: 'status', 'upcoming' | sort: 'calendar.start' %}
    {% assign len = upcomingevents | size %}
    {% if len > 0 %}
    {% assign upcomingevent = upcomingevents[0] %}
    {% if page.url != upcomingevent.url %}
    <div class="sidebar-widget sidebar-upcoming-event">
        <header>Upcoming event
        </header>
        <section>
            <small>
                <span class="upcoming-event-date">
                    {% if upcomingevent.calendar.display %}
                    {{ upcomingevent.calendar.display }}
                    {% else %}
                    {% if upcomingevent.calendar.start contains "T" %}
                    {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y, %H:%M" }}
                    {% else %}
                    {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y" }}
                    {% endif %}
                    {% endif %}</span> • I'll be at <a class="upcoming-event-title"
                    href="{{ upcomingevent.url | prepend: site.baseurl }}">{{ upcomingevent.title }}</a>, <span
                    class="upcoming-event-location">{{ upcomingevent.location }}</span>. Check it out!
            </small>
        </section>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    <div class="sidebar-widget sidebar-categories">
        <header>Categories</header>
        <section>
            <ul>
                {% assign category_pages = site.pages | where: "layout","category" %}
                {% for category_page in category_pages %}
                <li><small>
                        {% if page.url == category_page.url %}
                        <span class="font-italic">{{ category_page.title }}</span>
                        {% else %}
                        <a class="muted-link inherit-color" title="{{ category_page.title }}"
                            href="{{ category_page.url | prepend: site.baseurl }}">{{ category_page.title }}</a>
                        {% endif %}
                    </small></li>
                {% endfor %}
            </ul>
        </section>
    </div>

    {% if page.id != 'home' %}
    <div class="sidebar-widget sidebar-recent-posts">
        <header>Recent Posts</header>
        <section>
            <ul>
                {% for post in site.posts limit:4 %}
                <li><small>
                        {% if page.url == post.url %}
                        <span class="font-italic">{{ post.title }}</span>
                        {% else %}
                        <a class="muted-link inherit-color" title="{{ post.title }}"
                            href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        {% endif %}
                    </small></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    {% endif %}

    {% if page.id != 'archived-events' %}
    {% assign archived_events = site.events | where: 'status', 'done' | sort: 'calendar.start' | reverse %}
    {% assign len = archived_events | size %}
    {% if len > 0 %}
    <div class="sidebar-widget sidebar-recent-events">
        <header>Recent Events
        </header>
        <section>
            <div class="p-1">
                <small>I recently had the opportunity to deliver talks at the following events:</small>
            </div>
            <ul>
                {% for event in archived_events limit:4 %}
                <li><small>
                        {% if page.url == event.url %}
                        <span class="font-italic">{{ event.title }}</span>
                        {% else %}
                        <a class="muted-link inherit-color" title="{{ event.title }}"
                            href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
                        {% endif %}
                    </small></li>
                {% endfor %}
            </ul>
            <div class="p-1">
                <small>Each event lists links to slides, demos, recording, and additional material. Check them out.</small>
            </div>
        </section>
    </div>
    {% endif %}
    {% endif %}

</section>
