<section class="sidebar">

    {% if page.id != 'about-me' %}
    <div class="sidebar-widget sidebar-bio">
        <p class="p-3">
            <small>{% include bio-intro.txt %}</small>
            <footer class="blockquote-footer"><cite title="Who I am.">Who I am.</cite> Mauro Servienti</footer>
        </p>
    </div>
    {% endif %}

{% if page.id != 'home' and page.id != 'upcoming-events' %}
    {% assign upcomingevents = site.events | where: 'status', 'upcoming' | sort: 'calendar.start' %}
    {% assign len = upcomingevents | size %}
    {% if len > 0 %}
    {% assign upcomingevent = upcomingevents[0] %}
    <div class="sidebar-widget sidebar-upcoming-event">
        <header>Upcoming event
        </header>
        <section>
            <small>
            <span class="upcoming-event-date">
              {% if upcomingevent.calendar.display %}
              {{ upcomingevent.calendar.display }}
              {% else %}
              {% if upcomingevent.calendar.start contains "T" %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y, %H:%M" }}
              {% else %}
              {{ upcomingevent.calendar.start | date_to_rfc822 | date: "%-d %B %Y" }}
              {% endif %}
            {% endif %}</span> • I'll be at <a class="upcoming-event-title"
              href="{{ upcomingevent.url | prepend: site.baseurl }}">{{ upcomingevent.title }}</a>, <span
              class="upcoming-event-location">{{ upcomingevent.location }}</span>. Check it out!
                </small>
        </section>
    </div>
  {% endif %}
{% endif %}

    <div class="sidebar-widget sidebar-categories">
        <header>Categories</header>
        <section>
            <ul>
                {% assign category_pages = site.pages | where: "layout","category" %}
                {% for category_page in category_pages %}
                <li><small>
                        {% if page.url == category_page.url %}
                        <span class="font-italic">{{ category_page.title }}</span>
                        {% else %}
                        <a class="muted-link" title="{{ category_page.title }}"
                            href="{{ category_page.url | prepend: site.baseurl }}">{{ category_page.title }}</a>
                        {% endif %}
                    </small></li>
                {% endfor %}
            </ul>
        </section>
    </div>

    {% if page.id != 'home' %}
    <div class="sidebar-widget sidebar-recent-posts">
        <header>Recent Posts</header>
        <section>
            <ul>
                {% for post in site.posts limit:4 %}
                <li><small>
                        {% if page.url == post.url %}
                        <span class="font-italic">{{ post.title }}</span>
                        {% else %}
                        <a class="muted-link" title="{{ post.title }}"
                            href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        {% endif %}
                    </small></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    {% endif %}

</section>
