/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-top: 50px;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 2px solid $grey-color-light;
    padding-left: $spacing-unit / 2;

    > :last-child {
        margin-bottom: 0;
    }
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.link-icon{
    height: 10px;
}

hr.h-splitter{
    margin-top: 10px;
    margin-bottom: 10px;
}

a.muted-link{

    text-decoration: none;
    color: var(--site-text-color, $text-color);

    &:hover{
        text-decoration: underline;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid var(--site-code-border, $grey-color-light);
    border-radius: 3px;
    background-color: var(--site-code-background, #eef);
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
    }
}

.mermaid{
    margin-bottom: 1rem;
}