.event{
}

.events-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// Timeline - events archive

.timeline-nav {
    margin-bottom: 1.5rem;
    font-size: $small-font-size;
}

.timeline {
    position: relative;
    padding-left: 28px;
    margin-top: 1rem;

    // the vertical line
    &::before {
        content: "";
        position: absolute;
        left: 6px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: var(--site-grey-color-light, $grey-color-light);
    }
}

.timeline-year {
    position: relative;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    scroll-margin-top: 1rem;

    // year dot on the line
    &::before {
        content: "";
        position: absolute;
        left: -28px;
        top: 0.35em;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: var(--site-brand-color, $brand-color);
    }

    &:first-child {
        margin-top: 0;
    }
}

.timeline-events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline-event {
    position: relative;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--site-grey-color-light, $grey-color-light);

    // event dot on the line
    &::before {
        content: "";
        position: absolute;
        left: -24px;
        top: 0.45em;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--site-grey-color, $grey-color);
    }

    &:last-child {
        border-bottom: none;
    }
}

.event-content{

    padding-top: 10px;
    padding-bottom: 10px;
    
    h1, h2, h3, h4, h5, h6{
        font-style: italic;
    }
}

.event-header{
    .event-title{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.event-meta{
    font-size: $small-font-size;
    color: var(--site-grey-color, $grey-color);
}

.link-icon{
    margin-left: 3px;
}

.event-details{

}

.event-details-icon{
    margin-right: 3px;
    height: 14px;
}

.event-url{
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-url{
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-date{
    margin-right: 5px;
}

.event-location{
    margin-right: 5px;
}

.sessions-list{
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0;
    list-style: none;

    .session{
        margin-bottom: 10px;
    }
    
    .session-title{
        font-style: italic;
    }

    .session-abstract{
        color: var(--site-text-color-light, $text-color-light);
    }

    .session-details-icon{
        margin-right: 3px;
        height: 14px;
    }

    .session-url{
        font-size: .8em;
    }
    
    .session-language{
        font-size: .8em;
    }

    .session-details{
        margin-right: 3px;
        color: var(--site-text-color-light, $text-color-light);
    }

    .session-resources{
        padding: 3px;
        border-top-style: none;
        border-top-color: var(--site-grey-color-light, gainsboro);
        border-top-width: 1px;

        border-bottom-style: solid;
        border-bottom-color: var(--site-grey-color-light, gainsboro);
        border-bottom-width: 1px;
    }
}
