.event{
}

.events-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.event-content{

    padding-top: 10px;
    padding-bottom: 10px;
    
    h1, h2, h3, h4, h5, h6{
        font-style: italic;
    }
}

.event-header{
    .event-title{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.event-meta{
    font-size: $small-font-size;
    color: var(--site-grey-color, $grey-color);
}

.link-icon{
    margin-left: 3px;
}

.event-details{

}

.event-details-icon{
    margin-right: 3px;
    height: 14px;
}

.event-url{
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-url{
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-date{
    margin-right: 5px;
}

.event-location{
    margin-right: 5px;
}

.sessions-list{
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0;
    list-style: none;

    .session{
        margin-bottom: 10px;
    }
    
    .session-title{
        font-style: italic;
    }

    .session-abstract{
        color: var(--site-text-color-light, $text-color-light);
    }

    .session-details-icon{
        margin-right: 3px;
        height: 14px;
    }

    .session-url{
        font-size: .8em;
    }
    
    .session-language{
        font-size: .8em;
    }

    .session-details{
        margin-right: 3px;
        color: var(--site-text-color-light, $text-color-light);
    }

    .session-resources{
        padding: 3px;
        border-top-style: none;
        border-top-color: var(--site-grey-color-light, gainsboro);
        border-top-width: 1px;

        border-bottom-style: solid;
        border-bottom-color: var(--site-grey-color-light, gainsboro);
        border-bottom-width: 1px;
    }
}
