.home-content, .post{
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	@media screen and (max-width: $break-small) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.home-content{
	.site-description{
		text-align: justify;
		text-justify: newspaper;
	}
}

.post-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.post-nav{
	font-size: $small-font-size;
	.prev{

	}
	
	.next{
		text-align: right;
	}
}

.post-header{
	
}

.post-content{
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: $grey-color-light;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	
	@media screen and (max-width: $break-small) {
		border-left-width: 0px;
		padding-left: 0px;
	}
}

.post-meta{
	font-size: $small-font-size;
	color: $grey-color;
}

.site-footer{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: $grey-color-dark;
	
	ul.links-list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	ul.right-links-list{
		text-align: right;
	}
	
	ul.left-links-list{

	}
	
	.footer-heading{
    color: $grey-color-light;
	}
	
	.wrapper{
    .text{
      color: $grey-color-light;
      font-style: italic;
    }
	}
}

.talks-list{
	margin: 0;
	padding: 0;
	list-style-type: none;

	.link-icon{
		margin-left: 3px;
	}

	.talk-host{
		font-weight: bold;
	}

	.talk-details{
		color: $text-color-light;
		font-size: .8em;
	}

	.talk-details-icon{
		margin-right: 3px;
	}

	.talk-date{
		margin-right: 5px;
	}

	.talk-location{
		margin-right: 5px;
	}

	.sessions-list{
		margin: 0;
		margin-top: 15px;
		margin-left: 40px;
		padding: 0;
		list-style-type: square;

		.session-title{
			font-style: italic;
		}

		.session-abstract{
			font-size: .8em;
			color: $text-color-light;
		}
	}
}