// Masonry card layout
.row[data-masonry] .card {
  width: 100%;
}

// Ensure card text is visible in dark mode
[data-bs-theme="dark"] {
  .card {
    .card-title,
    .card-text,
    .card-body {
      color: var(--site-text-color, #e0e0e0);
    }
    
    .card-title a,
    .card-text a {
      color: var(--site-text-color, #e0e0e0);
    }
    
    // Ensure muted-link class works correctly in cards
    .card-title .muted-link,
    .card-body .muted-link {
      color: var(--site-text-color, #e0e0e0);
    }
    
    // Override Bootstrap's text-muted to use our lighter color
    .text-muted {
      color: var(--site-text-color-light, #b0b0b0) !important;
    }
  }
}

.border-none{
	border-width: 0 !important;
}

.transparent{
	background-color: transparent !important;
}

.inherit-color{
	color: inherit !important;
}

.content
{
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	
	@media screen and (max-width: $break-small) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.home{
	.site-description{
		text-align: justify;
		text-justify: newspaper;
	}

	.upcoming-event{
		background-color: #f5f5f5;

		[data-bs-theme="dark"] & {
			background-color: #2a2a2a;
		}

		.upcoming-event-details{
			padding-left: .5rem
		}
	}
}

.site-footer{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--site-grey-color-dark, $grey-color-dark);

	ul.links-list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul.right-links-list{
		text-align: right;
	}

	ul.left-links-list{

	}

	.footer-heading{
        	color: var(--site-grey-color-light, $grey-color-light);
	}

	.wrapper{
    		.text{
      			color: var(--site-grey-color-light, $grey-color-light);
      			font-style: italic;
    		}
	}
}



.page{

	.page-content{}

	.page-footer{
		.page-meta{
			font-size: $small-font-size;
			color: var(--site-grey-color, $grey-color);
		}
	}
}

table, th, td {
	border: 1px solid rgb(180, 180, 180);

	[data-bs-theme="dark"] & {
		border-color: rgb(80, 80, 80);
	}
}

table{
	text-align: center;
	margin-bottom: 15px;
}

th, td{
	padding: 5px;
}

th{
	background-color: gainsboro;

	[data-bs-theme="dark"] & {
		background-color: #3a3a3a;
	}
}