.home-content, .post{
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	@media screen and (max-width: $break-small) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.home-content{
	.site-description{
		text-align: justify;
		text-justify: newspaper;
	}
}

.post-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.post-nav{
	font-size: $small-font-size;
	.prev{

	}
	
	.next{
		text-align: right;
	}
}

.post-header{
	
}

.post-content{
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: $grey-color-light;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	
	@media screen and (max-width: $break-small) {
		border-left-width: 0px;
		padding-left: 0px;
	}
}

.post-meta{
	font-size: $small-font-size;
	color: $grey-color;
}

.site-footer{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: $grey-color-dark;
	
	ul.contacts-list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	ul.subscribe-list{
		@extend ul.contacts-list;
		text-align: right;
	}
}