.home-content, .post, .event, .talk{
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	@media screen and (max-width: $break-small) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.home-content-footer{
	margin-left: 15%;
	margin-right: 15%;
	font-size: $small-font-size;
	color: $grey-color;
	
	@media screen and (max-width: $break-small) {
		margin-left: 0px;
		margin-right: 0px;
	}
}


.home-content{
	.site-description{
		text-align: justify;
		text-justify: newspaper;
	}
}

.post-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.post-nav{
	font-size: $small-font-size;
	.prev{

	}
	
	.next{
		text-align: right;
	}
}

.post-header{
	
}

.post-content{
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: $grey-color-light;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	
	@media screen and (max-width: $break-small) {
		border-left-width: 0px;
		padding-left: 0px;
	}
}

.post-meta{
	font-size: $small-font-size;
	color: $grey-color;
}

.site-footer{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	margin-right: 15%;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: $grey-color-dark;
	
	ul.links-list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	ul.right-links-list{
		text-align: right;
	}
	
	ul.left-links-list{

	}
	
	.footer-heading{
    color: $grey-color-light;
	}
	
	.wrapper{
    .text{
      color: $grey-color-light;
      font-style: italic;
    }
	}
}

.event-content{

	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	
	@media screen and (max-width: $break-small) {
		border-left-width: 0px;
		padding-left: 0px;
	}
}

.event-header{
	text-align: right;
}

.event-meta{
	font-size: $small-font-size;
	color: $grey-color;
}

.link-icon{
	margin-left: 3px;
}

.event-host{
	font-weight: bold;
}

.event-details{

}

.event-url{
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile-url{
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.event-details-icon{
	margin-right: 3px;
	height: 14px;
}

.event-date{
	margin-right: 5px;
}

.event-location{
	margin-right: 5px;
}

.sessions-list{
	margin: 0;
	margin-top: 15px;
	margin-left: 40px;
	padding: 0;
	list-style-type: square;

	.session{
		margin-bottom: 10px;
	}
	
	.session-title{
		font-style: italic;
	}

	.session-abstract{
		color: $text-color-light;
	}

	.session-details-icon{
		margin-right: 3px;
		height: 14px;
	}

	.session-url{
		font-size: .8em;
	}
	
	.session-language{
		font-size: .8em;
	}

	.session-details{
		margin-right: 3px;
		color: $text-color-light;
	}

	.session-resources{
		padding: 3px;
		border-top-style: solid;
		border-top-color: gainsboro;
		border-top-width: 1px;
		
		border-bottom-style: solid;
		border-bottom-color: gainsboro;
		border-bottom-width: 1px;
	}
}

.events-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.talk-content{

	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	
	@media screen and (max-width: $break-small) {
		border-left-width: 0px;
		padding-left: 0px;
	}
}

.talk-title{
	text-align: center;
}

.talk-abstract{
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.talk-languages{
	font-size: $small-font-size;
	color: $grey-color;
	text-align: center;
}

.talk-url{
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
