.post{
}

.post-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post-nav{
    font-size: $small-font-size;
    margin-bottom: 10px;
    .prev{

    }
    
    .next{
        text-align: right;
    }
}

.post-header{

    .post-img-crop{
        max-height: 600px;
        overflow: hidden;
    }

    .post-img-crop img{
        margin-top: -150px;
    }

    .post-img-crop:hover {
        max-height: fit-content;
        overflow: auto;
    }

    .post-img-crop img:hover{
        margin-top: 0;
    }

    .post-title{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.post-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-meta{
    font-size: $small-font-size;
    color: $grey-color;
}