.series{
	.series-header{
		.series-title{
			margin-top: .8rem;
			margin-bottom: .8rem;
		}
	}
	.series-content{}

	.series-posts-list{
		.post-details{
			.post-details-icon{
				margin-right: 3px;
				height: 14px;
			}
		}
	}
	
	.series-meta{
           font-size: $small-font-size;
           color: var(--site-grey-color, $grey-color);
        }
}
