.sidebar{

}

.sidebar-widget{
    border-left: var(--site-grey-color-light, $grey-color-light) 1px solid;
    margin-bottom: 1rem;
    color: var(--site-grey-color-dark, $grey-color-dark);

    header{
        border-bottom: var(--site-grey-color-light, $grey-color-light) 1px solid;
        padding: .3rem;
        padding-left: .5rem;
        color: var(--site-grey-color-dark, $grey-color-dark);
    }

    section{
        color: var(--site-grey-color-dark, $grey-color-dark);
        padding: .3rem;

        ul{
            padding-inline-start: 1.5rem;
            margin-bottom: .1rem;
        }
    }
}
