.sidebar{
	
}

.sidebar-widget{
    border-left: $grey-color-light 1px solid;
    margin-bottom: 1rem;
    color: $grey-color-dark;

    header{
        border-bottom: $grey-color-light 1px solid;
        padding: .3rem;
        padding-left: .5rem;
        color: $grey-color-dark;
    }

    section{
        color: $grey-color-dark;
        padding: .3rem;

        ul{
            padding-inline-start: 1.5rem;
            margin-bottom: .1rem;
        }
    }
}
