---
layout: default
---
<div class="category">

  <header class="category-header">
    {% if page.header_image %}
    <img class="img-fluid rounded" alt="{{ page.title }} header image"
      src="{{ page.header_image | prepend: site.baseurl }}" />
    {% endif %}
    <h2 class="category-title">{{ page.title }}</h2>
  </header>

  <article class="category-content">
    {{ content }}
  </article>

  <h5>Articles in this category:</h5>

  <div class="card-columns category-posts-list">
      {% assign category_posts = site.posts | where: 'category',page.category | reverse %}
      {% for post in category_posts %}
      <div class="card">
        <div class="card-header">
          <div class="post-details">
            <img class="post-details-icon" src="/img/calendar.png" />
            <span class="post-date">
              {{ post.date | date_to_rfc822 | date: "%-d %B %Y" }}
            </span>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <a class="muted-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h4>
          <hr class="h-splitter" />
          <p class="card-text">
            {% if post.synopsis %}{{ post.synopsis }}{% else %}{{ post.excerpt }}{% endif %}
          </p>
          <p class="card-text">
            <small class="text-muted">
              <a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>
            </small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  
  <footer class="category-footer">
        <p class="category-meta"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve this category</a></p>
    </footer>

</div>
