<!doctype html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-10 main-column">{{ content }}</div>
      <div class="col-sm-2 sidebar-column">{% include sidebar.html %}</div>
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript" id="cookiebanner" src="{{ "/scripts/cookiebanner.min.js" | prepend: site.baseurl }}"
    data-moreinfo="/privacy"></script>
</body>

</html>