---
layout: default
---
<div class="event">
  
<header class="event-header">
  <p class="event-meta"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve this event</a></p>
</header>
  
<h2 class="event-host">
  {{ page.title }}
</h2>
<div class="event-details">
  <img class="event-details-icon" src="/img/calendar.png" />
  <span class="event-date">
    {% if page.calendar.display %}
      {{ page.calendar.display }}
    {% else %}
      {% if page.calendar.start contains "T" %}
        {{ page.calendar.start | date_to_rfc822 | date: "%-d %B %Y, %H:%M" }}
      {% else %}
        {{ page.calendar.start | date_to_rfc822 | date: "%-d %B %Y" }}
      {% endif %}
    {% endif %}
  </span>
  <img class="event-details-icon" src="/img/location.png" />
  <span class="event-location">{{ page.location }}</span>
  <img class="event-details-icon" src="/img/language.png" />
  <span class="event-language">{{ page.language }}</span>
</div>

<ul class="sessions-list">
  {% for session in page.sessions %}
  <li class="session">
    <span class="session-title">{{ session.title }}</span>
    {% if session.language %}
    <div class="session-language">
      <img class="session-details-icon" src="/img/language.png" />
      <span class="session-language">{{ session.language }}</span>
    </div>
    {% endif %}
    {% if session.abstract %}
    <div class="session-abstract">{{ session.abstract }}</div>
    {% endif %}
    {% if session.url or session.slides or session.demos or session.recording %}
    <div class="session-resources">
      {% if session.url %}
    <div class="session-url">
      More info: <img src="/img/link.png" border="0" class="session-details-icon" /><a href="{{ session.url }}" target="_blank" class="muted-link">{{ session.url }}</a>
    </div>
    {% endif %}
      {% if session.slides %}
      <a href="{{ session.slides }}" target="_blank" class="muted-link">
        <img class="session-details-icon" border=0 src="/img/presentation.png" />
        <span class="session-details">Slides</span>
      </a>
      {% endif %}
      {% if session.demos  %}
      <a href="{{ session.demos }}" target="_blank" class="muted-link">
        <img class="session-details-icon" border=0 src="/img/folder.png" />
        <span class="session-details">Demos</span>
      </a>
      {% endif %}
      {% if session.recording %}
      <a href="{{ session.recording }}" target="_blank" class="muted-link">
        <img class="session-details-icon" border=0 src="/img/recording.png" />
        <span class="session-details">Recording</span>
      </a>
      {% endif %}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
  
<article class="event-content">
    {{ content }}
</article>

{% if page.eventurl or page.profileurl or page.speakers %}
<div class="event-more-info">
  <hr />
{% if page.eventurl %}
<div class="event-url">
  Event details: <img src="/img/link.png" border="0" class="event-details-icon" /><a href="{{ page.eventurl }}" target="_blank" class="muted-link">{{ page.eventurl }}</a>
</div>
{% endif %}
{% if page.profileurl %}
<div class="profile-url">
  Speaker info: <img src="/img/profile.png" border="0" class="event-details-icon" /><a href="{{ page.profileurl }}" target="_blank" class="muted-link">{{ page.profileurl }}</a>
</div>
{% endif %}
{% if page.speakers %}
  {% for speaker in page.speakers %}
    <div class="profile-url">
      Speaker info: <img src="/img/profile.png" border="0" class="event-details-icon" /><a href="{{ speaker.profileurl }}" target="_blank" class="muted-link">{{ speaker.name }}</a>
    </div>
  {% endfor %}
{% endif %}
</div>
{% endif %}
  
</div>
