---
layout: default
---
<div class="post">

  <section class="post-nav">
    <div class="row">
      {% if page.previous.url %}
      <div class="col-md-6 prev">
        <a href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{page.previous.title}}</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="col-md-6 next">
        <a href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}} &raquo;</a>
      </div>
      {% endif %}
    </div>
  </section>

  <header class="post-header">
    {% if page.header_image %}
    <img class="img-fluid rounded" alt="{{ page.title }} header image" src="{{ page.header_image | prepend: site.baseurl }}" />
    {% else %}
    <img class="img-fluid rounded" alt="{{ page.title }} header image" src="{{ '/img/posts/default-header.jpg' | prepend: site.baseurl }}" />
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} •
      {{ page.meta }}{% endif %} • Reading time: <span class="eta"></span> • <a
        href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve
        this post</a> • <a
        href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/commits/master/{{ page.path }}">Changelog</a>
      {% if page.series %}
      {% assign pages_with_same_series = site.pages | where: 'series',page.series %}
        {% if pages_with_same_series and pages_with_same_series.size > 0 %}
        {% assign series_page = pages_with_same_series[0] %}
        <br />
        Series: <a href="/series/{{ series_page.series | prepend: site.baseurl }}">{{ series_page.title }}</a>
        {% endif %}
      {% endif %}
    </p>
    {% if page.tags %}
    <p class="post-meta post-tags">Tags:&nbsp;
      {% for tag in page.tags %}
        {% assign tag_pages = site.tags | where: 'tag',tag %}
        {% if tag_pages and tag_pages.size > 0 %}
          {% assign tag_page = tag_pages[0] %}
          <a href="{{ tag_page.url | prepend: site.baseurl }}"><nobr>{{ tag_page.title }}</nobr></a>{% if forloop.last == false %},&nbsp;{% endif %}
        {% endif %}
      {% endfor %}
    </p>
    {% endif %}
    <hr class="h-splitter" />
  </header>

  <article class="post-content">
    {{ content }}
  </article>


  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'milestonetopicsit';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>

</div>
