---
layout: default
---
<div class="series">

  <header class="series-header">
    {% if page.header_image %}
    <img class="img-fluid rounded" width="1200" height="630" alt="{{ page.title }} header image"
      src="{{ page.header_image | prepend: site.baseurl }}" />
    {% endif %}
    <h2 class="series-title">{{ page.title }}</h2>
  </header>

  <article class="series-content">
    {{ content }}
  </article>

  <h3>Articles in this series:</h3>

  <div class="row series-posts-list" data-masonry='{"percentPosition": true}'>
      {% assign series_posts = site.posts | where: 'series',page.series | reverse %}
      {% for post in series_posts %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-header">
            <div class="post-details">
              <img class="post-details-icon" src="/img/calendar.png" width="16" height="16" alt="" loading="lazy" />
              <span class="post-date">
                {{ post.date | date_to_rfc822 | date: "%-d %B %Y" }}
              </span>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <a class="muted-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h4>
            <hr class="h-splitter" />
            <p class="card-text">
              {% if post.synopsis %}{{ post.synopsis }}{% else %}{{ post.excerpt }}{% endif %}
            </p>
            <p class="card-text">
              <small class="text-muted">
                <a href="{{ post.url | prepend: site.baseurl }}" aria-label="Continue reading: {{ post.title }}">Continue reading...</a>
              </small>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  <footer class="series-footer">
        <p class="series-meta"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve this series</a></p>
    </footer>

</div>
