---
layout: default
---
<div class="talk">

    <header>
    {% if page.header_image %}
      <picture>
        <source srcset="{{ page.header_image | replace: '.jpg', '.webp' | replace: '.png', '.webp' | prepend: site.baseurl }}" type="image/webp">
        <img class="img-fluid rounded" width="1200" height="630" alt="{{ page.title }} header image" src="{{ page.header_image | prepend: site.baseurl }}" />
      </picture>
    {% endif %}
  </header>
    
    <div class="talk-languages">Available in:
    {% for lang in page.languages %}
        <span> {{ lang }}{% unless forloop.last %} |{% endunless %}</span>
    {% endfor %}
     </div>
  <hr class="h-splitter" />
  <article class="event-content">
    {{ content }}
</article>
  
   <footer class="talk-footer">
        <p class="talk-meta"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve this talk</a></p>
    </footer>

</div>
