---
layout: default
---
<div class="talk">

    {% if page.header_image %}
      <img class="img-fluid rounded" alt="{{ page.title }} header image" src="{{ page.header_image | prepend: site.baseurl }}" />
    {% endif %}
  
    <!-- <h2 class="talk-host">
        {{ page.title }}
    </h2>
    <hr class="h-splitter" />
    <div class="talk-synopsis">{{ page.synopsis }}</div>
<hr class="h-splitter" /> -->
    
    <div class="talk-languages">Available in:
    {% for lang in page.languages %}
        <span> {{ lang }}{% unless forloop.last %} |{% endunless %}</span>
    {% endfor %}
     </div>
  <hr class="h-splitter" />
  <article class="event-content">
    {{ content }}
</article>
  
   <footer class="talk-footer">
        <p class="talk-meta"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/tree/master/{{ page.path }}">Improve this talk</a></p>
    </footer>

</div>
